.pull-right
{
	margin-top: 7px;
}
.navbar-fixed-bottom,
.navbar-fixed-top,
.navbar-static-top
{
    padding: 10px;
    border-bottom: 4px solid #2CC990;
	background-color: #FCB941;
}
.navbar-brand
{
	font-family: Corbel;
	font-size: 22px;
	font-weight: 400;
}
.nav-buttons
{
	margin-top: 0px;
	border-radius: 0;
	
}
.nav-buttons> .btn-default
{
	padding: 5px 45px;
	border-radius: 0;
	margin-right: 5px;
	font-size: 20px;
	font-family: Corbel;
	background-image: none;
	font-weight: 600;
	border: 2px solid #1DABB8;
	transition:all .4s ease;
	text-shadow:none;
}
.nav-buttons> .btn-default:hover
{
	background-color: #FC6042;
	color: #fff;
	border: 2px solid transparent;
	transition:all .2s ease;
	box-shadow: 2px 3px 1px #71BA51;
	outline: none;
}
.form_btn
{
	font-size: 16px;
	font-family: Corbel;
	font-weight: 200;
	padding: 5px 25px;
	border-radius: 4px;
	margin-left: 10px;
}
.first_form
{
	margin-top: 10px;
	padding-bottom: 5px;
}
.first_form input[type="text"],
.first_form	input[type="password"]
{
	
	box-shadow: none;
	border: .1em solid #1DABB8;
	border-radius: 0;
}
.first_form> .btn
{
	border-radius: 0;
	font-family: Corbel;
	font-size: 18px;
	padding: 3px 25px;
	background-image: none;
	font-weight: 600;
	border: .1em solid #D4D4D4;
	text-shadow:none;
	transition:all .4s ease;
}
.first_form> .btn:hover
{
	background-color: #2ECC71;
	text-shadow:none;
	transition:all .2s ease;
	color: #fff;
	border: .1em solid #fff;

}
.first_form input[type="text"]:hover,
.first_form input[type="password"]:hover
{

	box-shadow: 2px 2px 1px #2CC990;
	
}
.slide
{
	margin-top: 130px;
}
.slide_well
{
	position: absolute;
	z-index: 100;
	background-image: none;
	background-color: #fff;
	width: auto;
	margin-top: 255px;
	opacity: .9;
	right: 270px;
	left: 270px;
}
.form-control 
{
	border-radius: 0;
	box-shadow: none;
}
.form-control:focus
{
    
    border: 2px solid transparent;
    outline: 0px none;
    box-shadow: 2px 2px 1px #2CC990;
}
.S_head
{
	margin-top: 20px;
}
.frm
{
	background-color: #fff;
	opacity: .8;
	background-image: none;
	margin-top: 220px;
}
.col1
{
	font-size: 20px;
	font-family: Corbel;
	margin-top: 4px;
	line-height: 26px;
}
.Rgrp
{
	margin-top: 15px;
}
.Rgrp2
{
	font-size: 18px;
	font-family: Corbel;
	margin-top: 2px;
	vertical-align: middle;
}
.radio-inline input[type="radio"]
{
    position: absolute;
    margin-left: -20px;
    margin-top: 8px;
}
.Sgrp
{
	margin-top: 15px;
}
.Sgrp1
{
	font-size: 18px;
	font-family: Corbel;
	line-height: 33px;

}
.Sgrp1 label
{
	margin-bottom: 0;
}
.Rel_grp
{
	margin-top: 15px;
}
.Rel_grp1
{
	font-size: 18px;
	font-family: Corbel;
	line-height: 33px;
}
.Rel_grp1 label
{
	margin-bottom: 0;
}
.M_grp
{
	margin-top: 15px;
}
.M_grp1
{
	font-size: 18px;
	font-family: Corbel;
	line-height: 33px;
}
.M_grp1 label
{
	margin-bottom: 0;
}
.L_grp
{
	margin-top: 15px;
}
.L_grp1
{
	font-size: 18px;
	font-family: Corbel;
	line-height: 33px;
}
.L_grp label
{
	margin-bottom: 0;
}
.P_grp
{
	margin-top: 15px;
}
.P_grp1
{
	font-size: 18px;
	font-family: Corbel;
	line-height: 33px;
}
.P_grp label
{
	margin-bottom: 0;
}
.Mob_grp
{
	margin-top: 15px;
}
.Mob_grp1
{
	font-size: 18px;
	font-family: Corbel;
	line-height: 33px;
}
.Mob_grp label
{
	margin-bottom: 0;
}
.Email_grp
{
	margin-top: 15px;
}
.Email_grp1
{
	font-size: 18px;
	font-family: Corbel;
	line-height: 33px;
}
.Email_grp label
{
	margin-bottom: 0;
}
.Pass_grp
{
	margin-top: 15px;
}
.Pass_grp1
{
	font-size: 18px;
	font-family: Corbel;
	line-height: 33px;
}
.Pass_grp label
{
	margin-bottom: 0;
}
.Sub
{
	margin-top: 18px;
}
.sub
{
	font-family: Corbel;
	font-size: 24px;
	border: none;
	height: 45px;
	background-image: none;
	border-radius: 0;
	padding: 5px 20px;
	text-shadow:none;
	background-color: #FC6042;
	transition:all .4s ease-out;
}
.sub:hover
{
	background-color: #2CC990;
	transition:all .2s ease-in;
	box-shadow: 2px 2px 1px #FC6042;
}
.search
{
	margin-top: 10px;
	width:auto;
	background-image: none;
	background-color: #fff;
	height: auto
}
.search label
{
	padding-right: 10px;
}
.search-row
{
	margin-top: 15px;
}
.Srch-radio_grp
{
	line-height: 30px;
	font-size: 20px;
	padding-left: 50px;
	font-family: Corbel;
}
#fe
{
    margin-top: -3px;
    margin-left: 0px;
}
.Search_grp
{
	margin-bottom: 0;
	border-radius: none;
	margin-top: 16px;
}
.Age-radio_grp
{
	line-height: 27px;
	font-size: 19px;
	margin-top: 16px;
}
.Age-radio_grp label
{
	font-size: 18px;
	font-weight: 600;
	font-family: Corbel;
}
.Age_width
{
	width: 52px;

}
.Age_width:hover, .Age_width:focus
{
	border:1px solid #2CC990;
	transition:all .2s ease;
}
.Age_width input[type="text"]
{
    line-height: 27px;
	margin-top: 2px;
    
    font-size: 12px;
}
.Srch_btn
{
	font-size: 18px;
	font-family: Corbel;
	margin-top: 16px;
	background-image: none;
	border-radius: 0;
	padding: 3px 16px;
	text-shadow:none;
	background-color: #2CC990;
	border-top-color: #2CC990;
	border-left-color: #2CC990; 
	transition: all 0.3s ease-out;
}
.Srch_btn:hover, .Srch_btn:focus
{
	background-color: #2CC990;
	border-top-color: #2CC990;
	border-left-color: #2CC990;
	font-size: 19px;
	transition: all 0.1s ease-in;
	box-shadow: 2px 2px 1px #FC6042;
}
.extra
{
	margin-top: 10px;
}
.right h6
{
	display: inline-block;
	padding-right: 10px;
}
.right a 
{
	text-decoration: none;
	color: #95A5A6;
	font-weight: 500;
}
.heading
{
	margin-top: 30px;
}
.carousel-caption h2,p
{
	color: #F89406;
	text-shadow:none;
	font-family: Corbel;
}
.carousel-caption p
{
	font-size: 18px;
}

.Pro_main
{
	margin-top: 30px;
	
}
.Pro_head
{
	font-family: Corbel;
	margin-top: 10px;
}
.Pro_grp
{
	display: inline-block;
	font-family: Corbel;
	margin-top: 13px;
	
}
.Pro_grp ol
{
	line-height: 28px;
	margin-bottom: 0;
}
.Pro_grp a 
{
	text-decoration: none;
	color: #ccc;
	transition:all .4s ease;
}

.Pro_grp li 
{
	display: inline-block;
	padding-right: 10px;
	transition:all .4s ease;
}
.Pro_grp li a:hover
{
	color: #F89406;
	transition:all .4s ease;
}


footer
{
	margin-top: 20px;
}
.foot
{
	display: inline-block;
}
.foot li
{
	display: inline-block;
	padding-right: 35px;
	margin-left: 10px;
}
.foot li a 
{
	text-decoration: none;
	color: #ccc;
	transition:all .4s ease;
}
.foot li a:hover
{
	color: #F89406;
	transition:all .4s ease;
}
.foot1
{
	display: inline-block;
	margin-top: 15px;
}
.foot1 li 
{
	display: inline-block;
	text-align: center;
	padding-right: 20px;
}
.foot1 li a 
{
	text-decoration: none;
	color: #ccc;
	transition:all .4s ease;
}
.foot1 li a:hover
{
	color: #F89406;
	transition:all .4s ease;
}
.Footp
{
	margin-top: 10px;
	font-size: 18px;
}
.Footp a 
{
	text-decoration: none;
}

/*Search page Css */

.nav_cont
{
	margin-top: 140px;
	
}
.tab1 a
{
	
	font-size: 16px;
	font-family: Corbel;
}
.tab1:hover
{
	background-color: #FCB941;
	border: 10px
	transition:all .4s ease;
}
.ad_well
{
	margin-top: 30px;
	background-color: #fff;
	background-image: none;
}
.look, .age, .manglik, .height, .Edu, .body_type, .country,
.state, .income, .family, .occuptn, .maritial, .child, .rslt_btn label 
{
	margin-top: 15px;
	line-height: 30px;
	font-family: Corbel;
	font-size: 18px;
	font-weight: 400;
}

.gen label
{
	margin-top: -3px;
}

.checkbox-inline + .checkbox-inline, .radio-inline + .radio-inline {
    margin-top: -3px;
    margin-left: 10px;
}

.age, .form-group
{
	margin-bottom: 0;
}

.checkbox
{
	margin-bottom: 0;
	margin-top: 0;
}
.mang 
{
	line-height: 35px;
}
input[type="checkbox"], input[type="radio"] 
{
    margin: 12px 0px 0px;
    line-height: normal;
}
.state_col, .occuptn_col
{
	margin-top: 15px;
}

.C2 
{
	margin-top: 10px;
}
.rslt_btn
{
	margin-top: 35px;
	margin-bottom: 20px;
}
.rslt_btn a
{
	background-image: none;
	font-size: 18px;
	font-weight: 600;
	font-family: Corbel;
	transition:all .4s ease;
	border: 3px solid #4183D7;
	
}
.rslt_btn a:hover
{
	background-color: #22313F;
	transition:all .2s linear;
	color: #F2F1EF;
	border-radius: 4px;
	border:3px solid #F9BF3B;
}
.q_well
{
	margin-top: 30px;
	background-image: none;
	background-color: #EEE657;
}
.
{
	background-image: none;
	background-color: #fff;
	
}
.quick_btn button
{
	margin-top: 20px;
	background-image: none;
	font-size: 18px;
	font-weight: 600;
	font-family: Corbel;
	transition:all .4s ease;
	border: 3px solid #4183D7;
}
.quick_btn button:hover
{
	background-color: #22313F;
	transition:all .2s linear;
	color: #F2F1EF;
	border-radius: 4px;
	border:3px solid #F9BF3B;
}







/* Search Column*/

.Srch_col
{
	margin-top: 130px;
}

.head h5
{
	font-family: Corbel;
	font-size: 22px;
	font-weight: 600;
}
.cont 
{
	background-image: none;
	background-color: #fff;
}
.gen_srch
{
	padding-top: 10px;
	background-color: #EDD834;
	background-image: none;
}
.gen_srch h6
{
	margin-top: 0;
	margin-bottom: 0;
	font-size: 18px;
	font-family: Corbel;
	padding-bottom: 10px;
	line-height: 20px;
}
.gen_radio
{
	font-size: 16px;
	line-height: 30px;
}
.radio-inline input[type="radio"] {
    position: absolute;
    margin-left: -20px;
    margin-top: 10px;
}
.age_srch, .mang_srch, .height_srch, .Edu_srch, .body_type_srch,
.country_srch, .state_srch, .income_srch, .family_srch, .occuptn_srch,
.maritial_srch, .child_srch
{
	padding-top: 10px;
	background-image: none;
	height: 100px;
	background-color: #EDD834;
}
.age_srch h6, .mang_srch h6, .height_srch h6, .Edu_srch h6,
.body_type_srch h6, .country_srch h6, .state_srch h6, .income_srch h6,
.family_srch h6, .occuptn_srch h6, .maritial_srch h6, .child_srch h6
{
	margin-top: 0;
	margin-bottom: 10;
	font-size: 18px;
	font-family: Corbel;
	padding-bottom: 10px;
	line-height: 20px;
}
.mang_srch input[type="checkbox"]
{
	margin-top: 5px;
}
.p3_btn button
{
	background-image: none;
	transition:all .2s ease;
	border: 3px solid #fff;
}
.p3_btn button:hover
{
	background-color: #2C82C9;
	transition:all .2s ease;
	font-size: 20px;
	color: #D4D4D4;
	border: 3px solid #FEC606;
}

.disp_well
{
	background-image: none;
	background-color: #fff;

}
.pic img 
{
	height: 150px;
	width: 150px;
	margin-top: 42px;
    margin-left: 21px;
    border-radius: 50%;
    border: 4px solid #fff;
    transition:all .4s ease;
}
.pic img:hover
{
	border: 4px solid #FCB941;
    transition:all .4s ease;
}
.disp h3
{
	font-size: 32px;
	font-family: Corbel;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 5px;
}
.detail h5
{
	margin-top: -2px;
	margin-bottom: 0;
	line-height: 25px;
	font-family: Corbel;
	font-weight: 200;
	font-size: 16px;
}
.detail label
{
	line-height: 23px;
}
.end
{
	margin-top: 20px;
}
.end a 
{
	border: 2px solid #fff;
}